<%- include("../../views/partials/user/header.ejs") %>
<main class="main" style="padding-top: 200px;">
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h1 class="mb-4">Thank You for Your Order!</h1>
            <p class="mb-4">Your order has been placed successfully.</p>
            <a href="/shop" class="btn btn-success">
              <i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main